<a href="https://colab.research.google.com/github/larislima11/BI-data_lake/blob/main/EXEMPLO_CEN%C3%81RIO_EXEMPLO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:

import pandas as pd
import numpy as np
import os

if not os.path.exists('data_lake'):
    os.makedirs('data_lake')

num_files = 10
num_rows_per_file = 1000

dfs = []

nomes = ['Carlos', 'Ana', 'João', 'Maria', 'Pedro', 'Lucas', 'Mariana', 'Beatriz', 'Felipe', 'Sofia']
cidades = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Salvador', 'Brasília']

for i in range(num_files):

    data = {
        'ClienteID': np.arange(i * num_rows_per_file, (i + 1) * num_rows_per_file),
        'Nome': np.random.choice(nomes, num_rows_per_file),
        'Idade': np.random.randint(18, 70, num_rows_per_file),
        'Cidade': np.random.choice(cidades, num_rows_per_file),
        'Valor_Compra': np.round(np.random.uniform(50.0, 1000.0, num_rows_per_file), 2)
    }

    # Cria uma tabela, sendo DataFrame, com os dados gerados:
    df = pd.DataFrame(data)

    # Define nomes dos arquivos para CSV, JSON e XLSX
    file_name_csv = f'data_lake/clientes_dados{i+1}.csv'
    file_name_json = f'data_lake/clientes_dados{i+1}.json'
    file_name_xlsx = f'data_lake/clientes_dados{i+1}.xlsx'

    # Salva os arquivos em CSV, JSON e XLSX no diretório 'data_lake'
    df.to_csv(file_name_csv, index=False)
    df.to_json(file_name_json, orient='records', lines=True)
    df.to_excel(file_name_xlsx, index=False)

    # Adiciona o arquivo e o DataFrame ao array:
    dfs.append((file_name_csv, file_name_json, file_name_xlsx, df))

print("DADOS DE CLIENTES PARA O DATALAKE FORAM GERADOS COM SUCESSO EM CSV, JSON E XLSX")

# Exibe as informações dos arquivos:
for file_name_csv, file_name_json, file_name_xlsx, df in dfs:
    print(f"\nINFORMAÇÕES DOS ARQUIVOS: {file_name_csv}, {file_name_json}, {file_name_xlsx}\n")
    print(df.head())

DADOS DE CLIENTES PARA O DATALAKE FORAM GERADOS COM SUCESSO EM CSV, JSON E XLSX

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados1.csv, data_lake/clientes_dados1.json, data_lake/clientes_dados1.xlsx

   ClienteID   Nome  Idade          Cidade  Valor_Compra
0          0  Maria     45        Brasília        385.01
1          1    Ana     38       São Paulo        126.47
2          2  Maria     47        Salvador        810.18
3          3  Pedro     59        Brasília         56.88
4          4  Sofia     40  Belo Horizonte        767.24

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados2.csv, data_lake/clientes_dados2.json, data_lake/clientes_dados2.xlsx

   ClienteID     Nome  Idade          Cidade  Valor_Compra
0       1000      Ana     40  Rio de Janeiro        801.30
1       1001  Beatriz     65       São Paulo        173.07
2       1002    Sofia     24  Rio de Janeiro        624.56
3       1003    Lucas     32        Brasília        733.22
4       1004   Carlos     39  Belo Horizonte        302.87

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados3.csv, data_lake/clientes_dados3.json, data_lake/clientes_dados3.xlsx

   ClienteID     Nome  Idade          Cidade  Valor_Compra
0       2000    Pedro     54       São Paulo        509.85
1       2001     João     39       São Paulo        996.00
2       2002    Lucas     69        Salvador        813.04
3       2003   Carlos     60        Brasília        829.53
4       2004  Mariana     26  Rio de Janeiro        443.06

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados4.csv, data_lake/clientes_dados4.json, data_lake/clientes_dados4.xlsx

   ClienteID    Nome  Idade          Cidade  Valor_Compra
0       3000   Lucas     27  Belo Horizonte        518.47
1       3001    João     44        Salvador        578.16
2       3002  Carlos     26       São Paulo        775.55
3       3003    João     20       São Paulo        269.11
4       3004   Sofia     51        Brasília        941.96

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados5.csv, data_lake/clientes_dados5.json, data_lake/clientes_dados5.xlsx

   ClienteID     Nome  Idade     Cidade  Valor_Compra
0       4000    Maria     49   Brasília        700.39
1       4001   Felipe     23   Brasília        609.84
2       4002   Carlos     61   Brasília        632.38
3       4003   Felipe     66   Brasília         83.82
4       4004  Mariana     62  São Paulo        817.38

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados6.csv, data_lake/clientes_dados6.json, data_lake/clientes_dados6.xlsx

   ClienteID    Nome  Idade          Cidade  Valor_Compra
0       5000   Maria     23        Salvador        894.85
1       5001     Ana     63  Belo Horizonte        723.94
2       5002   Sofia     53  Belo Horizonte        435.21
3       5003  Felipe     55  Rio de Janeiro        109.93
4       5004   Sofia     66        Brasília        500.88

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados7.csv, data_lake/clientes_dados7.json, data_lake/clientes_dados7.xlsx

   ClienteID    Nome  Idade          Cidade  Valor_Compra
0       6000   Maria     51        Salvador        695.76
1       6001  Felipe     53  Rio de Janeiro        895.13
2       6002  Felipe     19  Rio de Janeiro        179.55
3       6003    João     27  Belo Horizonte        259.96
4       6004   Lucas     65  Belo Horizonte        444.99

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados8.csv, data_lake/clientes_dados8.json, data_lake/clientes_dados8.xlsx

   ClienteID     Nome  Idade          Cidade  Valor_Compra
0       7000   Felipe     20  Belo Horizonte        210.15
1       7001  Beatriz     53       São Paulo        218.24
2       7002   Carlos     26       São Paulo        507.13
3       7003    Maria     35  Rio de Janeiro        697.92
4       7004    Lucas     47       São Paulo        105.35

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados9.csv, data_lake/clientes_dados9.json, data_lake/clientes_dados9.xlsx

   ClienteID   Nome  Idade          Cidade  Valor_Compra
0       8000  Pedro     66  Belo Horizonte        139.05
1       8001  Sofia     60       São Paulo        628.69
2       8002    Ana     65  Belo Horizonte        311.66
3       8003  Sofia     59  Rio de Janeiro        720.36
4       8004    Ana     31        Salvador        639.40

INFORMAÇÕES DOS ARQUIVOS: data_lake/clientes_dados10.csv, data_lake/clientes_dados10.json, data_lake/clientes_dados10.xlsx

   ClienteID     Nome  Idade          Cidade  Valor_Compra
0       9000  Mariana     53       São Paulo        478.33
1       9001  Mariana     69        Brasília        665.40
2       9002  Mariana     48  Belo Horizonte        372.48
3       9003    Sofia     69        Brasília        511.00
4       9004  Beatriz     45  Rio de Janeiro        864.02